<%= turbo_stream.update "breed-suggestions" do %>
  <% if @suggestions.any? %>
    <ul class="mt-2 divide-y divide-gray-200 border border-gray-300 rounded-md shadow-sm">
      <% @suggestions.each do |breed| %>
        <li
          class="px-4 py-2 cursor-pointer hover:bg-gray-100 transition duration-200 ease-in-out"
          data-action="click->autocomplete#selectSuggestion"
          data-suggestion="<%= breed %>"
        >
          <%= breed %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>